.navbar {
    background-color: rgba(100, 92, 255, 0.955);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 15rem;
}

.heading {
    font-size: 25px;
    color: white;
    font-family:Arial, Helvetica, sans-serif;
}

.cart_box {
    display: flex;
}

.cart_img {
    height: 2.5rem;
    color: white;
    filter: invert(100%);
}

.total_items {
    position: relative;
    right: 0.7rem;
    bottom: 1rem;
    font-size: 1.5rem;
    color: white;
    background-color: rgb(167, 160, 253);
    border-radius: 50%;
    height: 2rem;
    width: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}