* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    border: none;
    cursor: pointer;
}

button:active {
    transform: translateY(2px);
}